@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dojodachi up in this B</h1>
</div>
 <H1 class ="Display-1 text-center" >You Win </H1>
    <form asp-action="reset" asp-controller="Home">
        <input class = " justify-content-center btn btn-primary"type="submit" value ="Reset, BUT YOU STILL SUCK LMAOOO"> 
    </form>