@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Random Password #@ViewBag.count</h1>
</div>

<div class= "text-center">
<h1>@ViewBag.password</h1>
<form action="">
<input type="submit" class = "btn  btn-primary">
</form>
 </div>