
@{
    ViewData["Title"] = "Home Page";
}

@model List<Chefs>

<a  class = "text-right" asp-controller="Chef" asp-action="CreateChef">Add a New Chef</a>

<div class="text-center">
    <h1 class="display-4">Chefs</h1>
</div>
<div class = "text-center">
<a class = "display-4" asp-controller="Chef" asp-action="ChefsHome" >
          Chefs 
        </a>
<h4 class = "display-4 d-inline">| </h4>
<a class = "display-4" asp-controller="Dish" asp-action="DishHome" >
          Dishes
        </a>
</div>
<div>

<h3 class = "text-center">Checkout Our Lastest Dishes</h3>


<table class="table">

  <thead>
    <tr>
        <th scope="col"> Name</th>
        <th scope="col">Age</th>
        <th scope="col"># of dishes</th>

    </tr>
  </thead>
  <tbody>
@foreach (Chefs chef in Model)
{ 
  
      TimeSpan something = DateTime.Now.Subtract(chef.BirthDate);
      int age = Convert.ToInt32(@something.TotalDays/365);
      //int count = (int)chef.Dishes.Count();
    <tr>
      <th scope="row">
           @chef.FirstName @chef.LastName
         </th>
      <td>@age </td>
<!-- 
      if(chef.Dishes.Count == null){
         count = 0;
    int count = (int)chef.Dishes.Count;
      -->

  
      <td>@chef.Dishes.Count</td>

    </tr>
}
  </tbody>
</table>