<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    
    <h1> The current time and date are:</h1>
    <div>
        <h2>@{DateTime CurrentTime = DateTime.Now;}</h2>
        <h1> @CurrentTime.ToString("yyyy-MM-dd")</h1>
        <h1> @CurrentTime</h1>
    </div>
</body>
</html>