@{
    ViewData["Title"] = "Home Page";
}
@model List<Dish>

<a  class = "text-right" asp-controller="Dish" asp-action="CreateDish">Add a New Dish</a>

<div class="text-center">
    <h1 class="display-4">Dishes</h1>
</div>
<div class = "text-center">
<a class = "display-4" asp-controller="Chef" asp-action="ChefsHome" >
          Chefs 
        </a>
<h4 class = "display-4 d-inline">| </h4>
<a class = "display-4" asp-controller="Dish" asp-action="DishHome" >
          Dishes
        </a>
</div>
<div>

<h3 class = "text-center">Checkout Our Lastest Dishes</h3>
<table class="table">

  <thead>
    <tr>
        <th scope="col">Dish</th>
        <th scope="col">Chef</th>
        <th scope="col">Tastiness</th>
        <th scope="col">Calories</th>
    </tr>
  </thead>
  <tbody>
@foreach (Dish dish in Model)
{ 
    <tr>
      <th scope="row"><a asp-controller="home" asp-action="Details" >
          @dish.DishName
        </a> </th>
      <td>Chef: @dish.Chef.FirstName</td>
      <td>Tastiness:@dish.Tastiness </td>
      <td>Calories:@dish.Calories </td>
    </tr>
}
  </tbody>
</table>
    
    
</div>