@{
    ViewData["Title"] = "Home Page";
}
@model user
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class= "row"> 
    <div class= "col-6"> 

<form asp-action="create" asp-controller="Home">

  <div class="form-group">
    <span asp-validation-for="FirstName"></span>
    <label asp-for="FirstName">First Name</label>
    <input asp-for="FirstName" type="text" class="form-control" >
  </div>
  <div class="form-group">
    <span asp-validation-for="LastName"></span>
    <label asp-for="LastName"> Last Name</label>
    <input asp-for="LastName" type="text" class="form-control" >
  </div>

  <div class="form-group">
<span asp-validation-for="Email"></span>
    <label asp-for="Email">Email </label>
    <input asp-for="Email" type="email" class="form-control" >
  </div>

    <div class="form-group">
<span asp-validation-for="Password"></span>
    <label asp-for="Password">Password</label>
    <input asp-for="Password" type="password" class="form-control" >
  </div>

    <div class="form-group">
<span asp-validation-for="ConfirmPass"></span>
    <label asp-for="ConfirmPass">Confirm Password</label>
    <input asp-for="ConfirmPass" type="password" class="form-control" >
  </div>


  <button type="submit" class="btn btn-primary">Submit</button>
</form>
  </div>



    <div class= "col-6"> 

<form asp-action="create" asp-controller="Home">

  <div class="form-group">
<span asp-validation-for="Email"></span>
    <label asp-for="Email">Email </label>
    <input asp-for="Email" type="email" class="form-control" >
  </div>

    <div class="form-group">
<span asp-validation-for="Password"></span>
    <label asp-for="Password">Password</label>
    <input asp-for="Password" type="password" class="form-control" >
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>


</div>

</div>