<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
   
      <div class="row p-5">

        <div class="col-4-sm offset-4" >
          <H1></H1>
   
 <form action = "profile" class = p-5 method ="post">
<div class="form-group row">
    <label for=" col-6-sm">Your Name</label>
    <input type="text" class="form-control col-6-sm" name = "name">

  </div>
    <div class="form-group row">
    <label for="exampleFormControlSelect1 col-6-sm">Dojo Location</label>
    <select name = "dojo" class="form-control col-6-sm" id="exampleFormControlSelect1">
      <option>OC</option>
      <option>LA</option>
      <option>SF</option>
      <option>Seattle</option>
      <option>SD</option>
    </select>
  </div>
    <div class="form-group row">
    <label for="exampleFormControlSelect1 col-6-sm">Favorite Language</label>
    <select name = "langauge" class="form-control col-6-sm" id="exampleFormControlSelect1">
      <option>C#</option>
      <option>Python</option>
      <option>JS</option>
      <option>MEAN</option>
      <option>Java</option>
    </select>
  </div>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Example textarea</label>
    <textarea name = "comment" class=" form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>

</form>




        </div>

      </div>
  
</body>
</html>