@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    this page consists of multiple users
    @foreach(var word in Model.allTheUsers.theListofUsers)
{
    <li> @word.firstName </li> 
}
</div>
